.bottom-buffer {
  margin-bottom: 20px;
}

.dates {
  text-align: left;
}

.thumbnail img {
  cursor: pointer !important;
}

@media (max-width: 767px) {
  .bottom-buffer-xs {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .dates {
    text-align: right;
  }
}
