a.github {
  color: #0275d8;
}

.bottom-buffer {
  margin-bottom: 25px;
}

.dates {
  text-align: left;
}

.thumbnail img {
  cursor: pointer !important;
}

@media (max-width: 767px) {
  .skills-bottom-buffer {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .dates {
    text-align: right;
  }
}
