---
layout: page
title: "About"
description: "Here are some cool professional things about me."
header-img: "img/about-bg.jpg"
---

<h3>Hi, I'm Will.</h3>

<p>
  I am a Full-Stack Developer with a special love for startups.
  Want to check out my resume? Well, here you go:
</p><br><br>

<h3 class="text-center"><u>Resume</u></h3>

<br>

<!-- Skills -->
<div class="row">
  <div class="col-md-2 bottom-buffer">
    SKILLS
  </div>

  <div class="col-md-10">
    {% for group in site.data.skills %}
      <div class="row skills-bottom-buffer">
        <div class="col-sm-5">
          <b>{{ group.name }}:</b>
        </div>

        <div class="col-sm-7 skills">
          {% assign all = group.skills %}
          {% assign last = group.skills.last %}

          {% for skill in all %}
            {% unless skill == last %}
              <span class="skill">{{ skill }}, </span>
            {% endunless %}
          {% endfor %}

          <span class="skill">{{ last }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<hr>

<!-- PROJECTS -->
<div class="row">
  <div class="col-md-2 bottom-buffer">
    PROJECTS
  </div>

  <div class="col-md-10">
    {% for project in site.data.projects %}
      <div class="row bottom-buffer">
        <div class="col-md-8">
          <b>{{ project.title }}</b> ~

          <a class="small github" target="_blank" href="{{ project.github }}">
            GitHub
          </a>

          <br />

          <span class="text-muted">
            {{ project.description }}
          </span>
        </div>

        <div class="col-md-4 dates">
          <span class="small">{{ project.dates }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<hr>

<!-- EXPERIENCE -->
<div class="row">
  <div class="col-md-2 bottom-buffer">
    EXPERIENCE
  </div>

  <div class="col-md-10">
    {% for experience in site.data.experiences %}
      <div class="row bottom-buffer">
        <div class="col-md-8">
          <b>{{ experience.position }}</b>

          <br />

          {{ experience.company }}

          <br />

          <span class="text-muted">
            <ul>
              {% for bullet in experience.description %}
                <li>{{ bullet }}</li>
              {% endfor %}
            </ul>
          </span>
        </div>

        <div class="col-md-4 dates">
          <span class="small">{{ experience.dates }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<hr>

<!-- EDUCATION -->
<div class="row">
  <div class="col-md-2 bottom-buffer">
    EDUCATION
  </div>

  <div class="col-md-10">
    {% for education in site.data.educations %}
      <div class="row bottom-buffer">
        <div class="col-md-8">
          <b>{{ education.degree }} in {{ education.field_of_study }}</b>

          <br />

          {{ education.institution }}
        </div>

        <div class="col-md-4 dates">
          <span class="small">{{ education.dates }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<br />

<p class="text-center">
  <a target="_blank" href="https://drive.google.com/file/d/13TNbZyP0wY2P6272S801BFefoR7nImPA/view?usp=sharing">Want the PDF version?</a>
</p>
