---
layout: page
title: "About"
description: "This is what I do."
header-img: "img/about-bg.jpg"
---

<h3>Hi, I'm Will.</h3>

<p>
  I am a Ruby on Rails Full-Stack Developer with a special love for startups.
  Want to check out my resume? Well, here you go:
</p><br><br>

<h3 class="text-center"><u>Resume</u></h3><br>

<!-- Skills -->
<div class="row">
  <div class="col-md-2 bottom-buffer">
    SKILLS
  </div>

  <div class="col-md-10">
    {% for group in site.data.skills %}
      <div class="row skills-bottom-buffer">
        <div class="col-sm-5">
          <b>{{ group.name }}:</b>
        </div>

        <div class="col-sm-7">
          {{ group.skills | join: ', ' }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<hr>

<!-- PROJECTS -->
<div class="row">
  <div class="col-md-2 bottom-buffer">
    PROJECTS
  </div>

  <div class="col-md-10">
    {% for project in site.data.projects %}
      <div class="row bottom-buffer">
        <div class="col-md-8">
          <b>{{ project.title }}</b><br>

          <a target="_blank" href="{{ project.link }}">
            {{ project.link }}
          </a>

          <br />

          <span class="text-muted">
            {{ project.description }}
          </span><br>
        </div>

        <div class="col-md-4 dates">
          <span class="small">{{ project.dates }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<hr>

<!-- EXPERIENCE -->
<div class="row">
  <div class="col-md-2 bottom-buffer">
    EXPERIENCE
  </div>

  <div class="col-md-10">
    {% for experience in site.data.experiences %}
      <div class="row bottom-buffer">
        <div class="col-md-8">
          <b>{{ experience.position }}</b><br>
          {{ experience.company }}<br>
          <span class="text-muted">
            {{ experience.description }}
          </span><br>
        </div>
        <div class="col-md-4 dates">
          <span class="small">{{ experience.dates }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<hr>

<!-- EDUCATION -->
<div class="row">
  <div class="col-md-2 bottom-buffer">
    EDUCATION
  </div>

  <div class="col-md-10">
    {% for education in site.data.educations %}
      <div class="row bottom-buffer">
        <div class="col-md-8">
          <b>{{ education.degree }} in {{ education.field_of_study }}</b>

          <br />

          {{ education.institution }}
        </div>

        <div class="col-md-4 dates">
          <span class="small">{{ education.dates }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<br />

<p class="text-center">
  <a target="_blank" href="https://goo.gl/YDT9ap">Want the PDF version?</a>
</p>
